* {
  font-family: poppins;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  /* background-color: teal; */
}

.introduction {
  text-align: center;
  margin: 0 auto;
}

.introduction p {
  font-size: 18px;
  font-weight: 400;
}

.writeToUs {
  text-align: center;
  margin-bottom: 50px;
}

.writeToUs img {
  width: 160px;
  padding: 10px;
}

.writeToUs h2 span {
  color: blue;
  text-decoration: underline;
}

hr {
  opacity: 20%;
}

.contact-footer p {
  font-size: smaller;
  color: gray;
  opacity: 80%;
}

.contact-footer p:nth-child(2) {
  color: red;
  margin-top: 20px;
  text-align: left;
  font-size: x-small;
  font-weight: 600;
}